    <footer>
        <!-- <section class="logo">
        <img src="/images/newborn-logo.png" alt="newborn company logo" class="logo-image">
        </section> -->
  
    </footer>
    
  </body>
  </html>