    <footer>
        <!-- <section class="logo">
        <img src="/images/newborn-logo.png" alt="newborn company logo" class="logo-image">
        </section> -->
        <div class="aside-copyright">
            <p class="copyright"><b>--------</b> <br> Designed and created by Sarah Ostenfeld Bitsch <br> Copyright © <b>NEWBORN</b> <%= new Date().getFullYear()%></p>
        </div> 
  
    </footer>
    
  </body>
  </html>