<div class="page-layout" id="wrapper">

    <%- include("partials/header.ejs") %>
    
    <main class="container">
        <section class="hero">
            <div class="headline">
                <h1>Maria Elzbieta Gacyk, <br> User Experience Researcher based in Warsaw</h1>
            </div>
            <div class="presentation">
                <p>Maecenas id volutpat enim, id rhoncus lorem. Fusce tincidunt orci nec tortor lacinia aliquam quis nec lacus. Ut vehicula hendrerit neque eget tincidunt. Praesent cursus purus ligula, ac dignissim arcu tempus ac. Nulla facilisi. In varius pharetra enim at interdum. Nunc porttitor augue eu cursus maximus. Donec tristique elit at purus auctor, rutrum hendrerit libero dapibus. Morbi sit amet nunc dui. Quisque est nibh, rutrum et rhoncus id, consectetur nec libero. Cras rutrum id ex sollicitudin bibendum. Aenean accumsan risus nec odio efficitur, non cursus nulla egestas. Vestibulum interdum faucibus nibh, et molestie orci aliquam nec. Ut vitae rhoncus nulla.</p>
            </div>
        </section>
        
    </main>
    
    <aside class="svg-aside">
        <div class="aside-column-layout">
            <nav class="aside-socials">
                <a class="social-link-wrapper" href="https://www.instagram.com/maria.elzbieta/" aria-label="follow me on Instagram">
                    <div class="link-wrapper">
                        <img src="/images/instagram.svg" alt="instagram logo" width="24" height="24">
                    </div>
                </a>
                <a class="social-link-wrapper" href="https://www.linkedin.com/in/maria-elzbieta-gacyk/" aria-label="follow me on LinkedIn">
                    <div class="link-wrapper">
                        <img id="linkedin" src="/images/linkedin.svg" alt="linkedin logo" width="24" height="24">
                    </div>
                </a>
               
            </nav>
            <div class="aside-copyright">
                <p class="copyright">Designed and created by Sarah Ostenfeld Bitsch <br> Copyright © <b>NEWBORN</b> <%= new Date().getFullYear()%></p>
            </div>   
        </div>
    </aside>
    </div>
    
    <%- include("partials/footer.ejs") %>
    
    