<div class="page-layout" id="wrapper">

    <%- include("partials/header.ejs") %>
    
    <main class="container">
        <section class="hero">
            <div class="headline">
                <h1>Maria Elżbieta Gacyk, <br> UX Researcher based in Warsaw</h1>
            </div>
            <div class="presentation">
                <p> I am a proactive and independent UX researcher with more than 5 years of experience in unravelling the complexity of people's experiences by using qualitative research methods and data analysis.
                    My expertise lies in synthesising research findings into actionable insights to recommend concrete business opportunities and guide creative solution design processes.
                    My unique approach is led by merging deep-dive into the core of problem areas and user needs with a bird's eye view on the broad context of user experience.</p>
                <p> Whenever I am not occupied with racking my brains to understand people, you can find me either in balance on a yoga mat, brewing coffee, cooking a new exciting recipe, listening to podcasts about psychology, or sitting in the dark cinema room.</p>
                <p>I am always open to a chat - <b>So let's connect!</b></p>
            </div>
        </section>
        <hr>
        <section class="projects">
            <div>
                <h2>Some recent work</h2>
            </div>
            <div class="projects-wrapper">
                <div class="project-image">
                    <img class="image" src="https://picsum.photos/400/400?grayscale&random=1&blur=5">
                    <div class="content"></div>
                </div>
                <div class="project-image">
                    <img class="image" src="https://picsum.photos/400/400?grayscale&random=2&blur=5">
                    <div class="content"></div>
                </div>
                <div class="project-image">
                    <img class="image" src="https://picsum.photos/400/400?grayscale&random=3&blur=5">
                    <div class="content"></div>
                </div>
            </div>

            <div class="projects-wrapper">
                <div class="project-image">
                    <img class="image" src="https://picsum.photos/400/400?grayscale&random=4&blur=5">
                    <div class="content"></div>
                </div>
                <div class="project-image">
                    <img class="image" src="https://picsum.photos/400/400?grayscale&random=5&blur=5">
                    <div class="content"></div>
                </div>
                <div class="project-image">
                    <img class="image" src="https://picsum.photos/400/400?grayscale&random=6&blur=5">
                    <div class="content"></div>
                </div>
            </div>


        </section>
        
    </main>
    
    <aside class="svg-aside">
        <div class="aside-column-layout">
            <nav class="aside-socials">
                <a class="social-link-wrapper" href="https://www.linkedin.com/in/maria-elzbieta-gacyk/" aria-label="follow me on LinkedIn">
                    <div class="link-wrapper">
                        <img id="linkedin" src="/images/linkedin.svg" alt="linkedin logo" width="24" height="24">
                    </div>
                </a>
                <a class="social-link-wrapper" href="https://www.instagram.com/maria.elzbieta/" aria-label="follow me on Instagram">
                    <div class="link-wrapper">
                        <img src="/images/instagram.svg" alt="instagram logo" width="24" height="24">
                    </div>
                </a>
                <a class="social-link-wrapper" href="https://www.instagram.com/maria.elzbieta/" aria-label="email me!">
                    <div class="link-wrapper">
                        <img src="/images/envelope-at.svg" alt="email icon" width="24" height="24">
                    </div>
                </a>
            </nav>  
        </div>
    </aside>
    </div>
    
    <%- include("partials/footer.ejs") %>
    
    